.font_hn {
  color: red;
  font-family: "仿宋";
}
.p1 {
  font-size: 28px;
  color: red;
  font-family: "仿宋";
}
.p2 {
  font-size: 24px;
  color: red;
  font-family: "仿宋";
}
.p1 {
  font-size: 28px;
  color: red;
  font-family: "仿宋";
}
.p2 {
  font-size: 24px;
  color: red;
  font-family: "仿宋";
}
button:hover {
  border: 1px solid red;
}
a:hover {
  border: 1px solid red;
}
h1:hover {
  border: 1px solid #008000;
}
h6:hover {
  border: 1px solid #ff0000;
}
h6:hover {
  border: 1px solid #ffc0cb;
}
